[Unit]
Description=WireGuard KeepAlive
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/opt/implant/scripts/wg-keepalive.sh
TimeoutStartSec=infinity
User=root
